body {
    font-family: "Roboto", "Arial", sans-serif;
}

.header_line {
    font-size: 80px;
    line-height: 80px;
    width: max-content;
    position: relative;
    margin-top: 50px;
}


.header_line:after {
    content: '';
    position: absolute;
    width: 70%;
    border-bottom: 5px solid #F23F34;
    bottom: -10px;
    left: 0;
}
.btn {
    border: 5px solid red;
    width: 700px;
    height: 100px;
    font-size: 50px
}
.auto:hover {
    background-color: white;
    color: red;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%
}
.wrap_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
.one__block {
    min-width: 800px;

}
#textAlert {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}
label {
    font-size: 30px;
}

.one__block input {
    height: 100px;
    font-size: 35px;
}
.one__block select {
    height: 100px;
    font-size: 35px;
}
.two__block {
    min-width: 800px;
}
.two__block input {
    height: 100px;
    font-size: 35px;
}
.two__block select {
    height: 100px;
    font-size: 35px;
}
li {
    display: flex; justify-content: space-between; width: 100%; height: 60px;
}
li span {
    font-size: 50px;
}
.modal-dialog {
    min-width: 920px;
}
.modal-footer {
    justify-content: center;
}
.modal-body input {
    height: 100px;
    font-size: 45px;
}
.modal-title {
    font-size: 50px
}
@media screen and (min-width: 1100px) {
    .header_line {
        font-size: 60px;
        line-height: 60px;
        width: max-content;
        position: relative;
        margin-top: 50px;
    }


    .header_line:after {
        content: '';
        position: absolute;
        width: 70%;
        border-bottom: 5px solid #F23F34;
        bottom: -10px;
        left: 0;
    }
    #container {
        flex-direction: row;
        align-items: center;
    }
    .wrap_block {
        flex-direction: row;
        justify-content: space-around;
    }
    #textAlert {

        margin-top: 10px;
        font-size: 16px;

    }
    .one__block {
        min-width: 330px;

    }
    .one__block input {
        height: 40px;
        font-size: 1rem;
    }
    .one__block select {
        height: 40px;
        font-size: 1rem;
    }
    .two__block {
        min-width: 330px;

    }
    .two__block input {
        height: 40px;
        font-size: 1rem;
    }
    .two__block select {
        height: 40px;
       font-size: 1rem;
    }
    .header_line {
        font-size: 36px;
    }
    label {
        font-size: 16px;
    }
    .btn {
        border: 2px solid red;
        width: 300px;
        font-size: 20px;
        height: 50px;
    }
    li span {
        font-size: 30px;
    }
    li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 32px;;
    }
    .modal-footer {
        justify-content: center;
    }
    .modal-dialog {
        min-width: 520px;
    }
    .modal-body input {
        height: 40px;
        font-size: 24px;
    }
    .modal-title {
        font-size: 28px
    }
}
